@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Clicker Service Running!</h1>
    <p>Minimize this page to keep the service running. Close it to stop the service.</p>
</div>
